@import-normalize;

.root {
  height: 100vh;
  position: relative;
  .menu {
    position: absolute;

    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: yellow;
  }
  .menuBar {
    position: absolute;
  }
}
