.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  z-index: 1000;
  background-color: white;
  right: 0;
  top: 0;
  width: 0;
  min-width: 0;
  transition: width 0.5s;
  &.open {
    width: 300px;
  }

  .drawerHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px 30px;
    background-color: cornflowerblue;
  }

  .drawerContent {
    height: 100%;
    padding: 10px;
    border-left: 1px solid #cecece;
  }
}
